<!--
    Project: Trainer Challenger Index
    Authors: Bernardo Mendes and Gage Davelaar
-->

<!-- index.hbs -->

<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Challenger Index</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
</head>

<header class="index-header">
    <h1 class="index-title">Welcome to the Trainer Challenge Index!</h1>
    <nav class="index-nav">
        <ul>
            <li><a href="/trainers">Trainers</a> - List of trainers on their journey. Be able to view their name, age, and home region.</li>
            <li><a href="/pokemon">Pokemon</a> - Various pokemon listed with their type, region they were found, and registered trainer.</li>
            <li><a href="/gyms">Gyms</a> - Gyms available for trainers to challenge, with their type, region and current leader</li>
            <li><a href="/regions">Regions</a> - The different regions available in the world</li>
            <li><a href="/trainerGyms">TrainerGyms</a> - A record of successful gym challenges, holding the badge name, gym it originates from, the trainer who earned it and the date they earned it.</li>
        </ul>
    </nav>
</header>

<main>
    <p class="index-intro">Select an option above to navigate.</p>
</main>

</body>
</html>