{{!-- Just some plain text --}}

{{!-- The Data from our Database --}}
<html lang="en"></html>
{{!-- Create a table --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Challenge Index</title>
    <link rel="stylesheet" href="style.css">  <!-- Link to an external CSS file -->
</head>

<header>
    <h1>Welcome to the Trainer Challenge Index!</h1>
    <nav>
        <ul>
            <li><a href="/trainers">Trainers</a> - List of trainers on their journey. Be able to view their name, age, and home region.</li>
            <li><a href="pokemon.html">Pokemon</a> - Various pokemon listed with their type, region they were found, and registered trainer.</li>
            <li><a href="Gyms.html">Gyms</a> - Gyms available for trainers to challenge, with their type, region and current leader</li>
            <li><a href="regions.html">Regions</a> - The different regions available in the world</li>
            <li><a href="trainerGyms.html">TrainerGyms</a> - A record of successful gym challenges, holding the badge name, gym it originates from, the trainer who earned it and the date they earned it.</li>
        </ul>
    </nav>
</header>

    <main>
        <p>Select an option above to navigate.</p>
    </main>

    <footer>
        <p>&copy; 2025 Trainer Challenge Index. All rights reserved.</p>
    </footer>

</body>
</html>